<div class="shopping-filter">
  <div class="card-filter">
    <span class="filter-one">Plataform</span>
    <button class="item-filter">PlayStation</button>
    <button class="item-filter">PC</button>
    <br /><br>
    <span class="filter-two">Category</span>
    <button class="item-filter">Shooter</button>
    <button class="item-filter">RPG</button>
    <br /><br>
    <span class="filter-three">Price</span>
    <button class="item-filter">$ 40.000</button>
    <button class="item-filter">$ 120.000</button> 
    <button class="item-filter">$ 200.000</button>
    <button class="item-filter">$ 90.000</button>
    <br /><br>
    <span class="filter-four">Year</span>
    <button class="item-filter">2022</button>
    <button class="item-filter">2020</button>
    <button class="item-filter">2016</button>
    <button class="item-filter">2010</button>
    <button class="item-filter">2022</button>
    <button class="item-filter">2020</button>
    <button class="item-filter">2016</button>
    <button class="item-filter">2010</button>
  </div>
</div>
