@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.shopping-filter .card-filter {     
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #393B37;
    margin-top: 2%;
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 0px solid #b3b0b050;
    padding: 2%;
    align-items: flex-start;
}

hr{
    color:  #b3b0b050   ;
}
.shopping-filter .card-filter .filter-one{
    text-align: center;
    font-size: 1.0em;
    display: flex;
    align-items: flex-start;
}


.shopping-filter .card-filter .filter-two{
    text-align: center;
    font-size: 1.0em;
    display: flex;
    align-items: flex-start;
}


.shopping-filter .card-filter .filter-three{
    text-align: center;
    font-size: 1.0em;
    display: flex;
    align-items: flex-start;
}


.shopping-filter .card-filter .filter-four{
    text-align: center;
    font-size: 1.0em;
    display: flex;
    align-items: flex-start;
}


.item-filter-cont {
    display: inline;
}

.item-filter {
    margin: 1%;
    background-color: #393b3752;
    color: #ffffff;
    padding: 2%;
    display: inline;
    font-size: 0.7em;
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 0px solid #464ca7e7;
    cursor: pointer;
    opacity: 0.8;
}



.item-filter:hover{
    opacity: 2;
    background-color: #393b37cc;
}
