<div class="shopping-filter">
  <div class="card-filter">
    <span class="filter-one">Plataform</span>
    <div class="item-filter-cont" *ngFor="let item of plataform ">
        <button class="item-filter">{{ item.plataform }}</button>
    </div>
    <br /><br>
    <span class="filter-two">Category</span>
    <div class="item-filter-cont" *ngFor="let item of category">
      <button class="item-filter">{{ item.category }}</button>
  </div>
    <br /><br>
    <span class="filter-three">Price</span>
    <div class="item-filter-cont" *ngFor="let item of product">
      <button class="item-filter">{{ item.price_product  | currency: 'USD' | lowercase }}</button>
  </div>
    <br /><br>
    <span class="filter-four">Year</span>
    <div class="item-filter-cont" *ngFor="let item of product">
      <button class="item-filter">{{ item.year }}</button>
  </div>
  </div>
</div>
