<div>
    <div class="card-buy">
       <div class="card-buy-title">Billing detail</div>
       <br>
       <div class="card-buy-body" >
            <span class="price">Price: <span class="valor" >   {{buy_[2] | currency: 'USD' | lowercase}}  </span></span>
            <hr>
            <span class="price">IVA: <span class="valor"> {{buy_[1] | currency: 'USD' | lowercase}} </span></span>
            <hr>
            <span class="price">Coupon <span class="valor"> {{ descuento | percent: '1.1'}}</span></span>
            <hr>
            <span class="total">{{buy_[0]   | currency: 'USD' | lowercase}} </span>

            <br>
            <div class="card-btn-buy">
                <button class="btn-buy" (click)="navigation()" routerLink="/invoicer">To pay</button>
            </div>
            </div>
            
    </div>

</div>

<div class="card-btn-cupon">
    <div class="card-cupon">
        <span>N° Coupons</span> 
        <input [(ngModel)]='textoDeInput' 
type="text" 
class="form-control" 
placeholder="" 
aria-label="" 
aria-describedby="basic-addon1">
<button class="btn-coupons" *ngIf='textoDeInput'  (click)="cupon()">Apply coupon</button>
    </div>
    <br>
   
</div>
