<div>
    <div class="card-buy">
       <div class="card-buy-title">Billing detail</div>
       <br>
       <div class="card-buy-body" >
            <span class="price">Price: <span class="valor" >   {{buy_[2] | currency: 'USD' | lowercase}}  </span></span>
            <hr>
            <span class="price">IVA: <span class="valor"> {{buy_[0] | currency: 'USD' | lowercase}} </span></span>
            <hr>
            <span class="price">Coupon <span class="valor"> $ 00</span></span>
            <hr>
            <span class="total">{{buy_[0]| currency: 'USD' | lowercase}} </span>

            <br>
            <div class="card-btn-buy">
                <button class="btn-buy" (click)="navigation()" routerLink="/invoicer">To pay</button>
            </div>
            </div>
            
    </div>

</div>

<div class="card-btn-cupon">
    <div class="card-cupon">
        <span>N° Coupons</span>
        <input type="text" autofocus>
        
        <button class="btn-coupons">Apply coupon</button>
    </div>
    <br>
   
</div>
