<div>
    <div class="card-product">
        <div class="img-product">
            <img  src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2020/07/caratula-spider-man-miles-morales-ps5-1991233.jpg?itok=LPB-Yd4y" alt="img-product">
        </div>
        <div class="description-product">
             <h1 class="des-prod-title">Titulo</h1>
             <h3 class="des-prod-category">Plataform:</h3>
             <h3 class="des-prod-category">Category:</h3>
             <h3 class="des-prod-category">Year:</h3>
             <h3 class="des-prod-category">in store:</h3>
             <h4 class="des-prod-price">$ 0000</h4>
             <div class="btn-product">
                <button class="btn"> Add to shopping cart</button>
            </div>
        </div>
        
    </div>
    

    <div class="pagination">
        <div class="">
            <span class="pagination-item"> <a href=""><</a></span>
            <span class="pagination-item"> <a href="">1</a></span>
            <span class="pagination-item"> <a href="">2</a></span>
            <span class="pagination-item"> <a href="">3</a></span>
            <span class="pagination-item"> <a href="">></a></span>
        </div>
    </div>

</div>
