<div>
    <div *ngFor="let item of games" class="card-product">
        <div class="img-product">
            <img  src={{item.image}} alt="img-product">
        </div>
        <div class="description-product">
             <h1 class="des-prod-title">{{ item.name_product }}</h1>
             <h3 class="des-prod-category">Plataform: {{item.plataform}}</h3>
             <h3 class="des-prod-category">Category: {{item.category}}</h3>
             <h3 class="des-prod-category">Year: {{item.year}}</h3>
             <h4 class="des-prod-price">{{item.price_product  | currency: 'USD' | lowercase}}</h4>
             <div class="btn-product">
                <button class="btn" (click)="add_product(item.idtbl_product, item.category,item.image,item.price_product)"> Add to shopping cart</button>
            </div>
        </div>
        
    </div>
    
<!--
    <div class="pagination">
        <div class="">
            <span class="pagination-item"> <a href=""><</a></span>
            <span class="pagination-item"> <a href="">1</a></span>
            <span class="pagination-item"> <a href="">2</a></span>
            <span class="pagination-item"> <a href="">3</a></span>
            <span class="pagination-item"> <a href="">></a></span>
        </div>
    </div>
-->
</div>
