
<div class="card-modal">
    <video src="../../../assets/video/galaga.webm" autoplay="true"  loop="true" poster="Galaga"></video>
    <div class="card-modal-body">
        <span class="title-text">
           <button (click)="navigation()" class="btn-home">Home</button>
            <br>
        </span>
        <table class="tablet-invoice" >
            <caption>Invoice</caption>
            <tr>
                <td colspan="4"><hr></td>
            </tr>
                <tr>
                    <th>#</th>
                    <th colspan="1">Item</th>
                    <th>count</th>
                    <th>price</th>
                </tr>
                <tr>
                    <td colspan="4"><hr></td>
                </tr>
            <tbody>
                <tr *ngFor="let item of buy__; let indice=index">
                    <td>{{ indice + 1  }}</td>
                    <td style="float: left;">{{item.name_product}}</td>
                    <td>01</td>
                    <td style="float: right;">{{ item.price_product  | currency: 'USD' | lowercase}}</td>
                </tr>
            </tbody>
            <tr>
                <td colspan="4"><hr></td>
            </tr>
            <tfoot>
                <tr class="text-footer">
                    <td colspan="3">Coupont</td>
                    <td>1</td>
                </tr>
                <tr class="text-footer">
                    <td colspan="3">Total</td>
                    <td style="float: right;">{{ buy_[2]  | currency: 'USD' | lowercase }}</td>
                </tr>
               
                <tr class="text-footer">
                    <td colspan="3">IVA</td>
                    <td style="float: right;">{{ buy_[1]  | currency: 'USD' | lowercase }}</td>
                </tr>
                
                <tr>
                    <td colspan="4"><hr></td>
                </tr>
                <tr class="text-footer">
                    <td colspan="3">Total</td>
                    <td style="float: right;">{{ buy_[0]  | currency: 'USD' | lowercase }}</td>
                </tr>
                <tr class="text-footer">
                    <td colspan="3">Total Descuento</td>
                    <td style="float: right;">{{ buy___  | currency: 'USD' | lowercase }}</td>
                </tr>
            </tfoot>
        </table>
        <span class="footer-invocer">
            -------------------------------------------
            ---------------------------------------------------------
            <br>
            <span>Thank you</span>
        </span>
        <br>
        <button class="btn btn-game-over" onclick="print()">Game Over</button>
    </div>
</div>
