<div class="toolbar" role="banner">
    <img
      width="30"
      alt="Play Store Logo"
      src = 'https://cdn-icons-png.flaticon.com/512/7915/7915399.png'
    />
    <span>Welcome Play Store</span>
    <div class="spacer"></div>

    <a aria-label="Carrito de Compras" (click)="navigation_home()"   routerLink="/home" routerLinkActive="active-link" rel="noopener" href="#" title="home">
      <img id="shopping-car-logo" height="24" width="24" data-name="Logo" src="https://cdn-icons-png.flaticon.com/512/8039/8039850.png" alt="Store" />
    </a>
    
      <a aria-label="Carrito de Compras" (click)="navigation()"   routerLink="/shopping-car" routerLinkActive="active-link" rel="noopener" href="#" title="Shopping Car">
        <img id="shopping-car-logo" height="24" width="24" data-name="Logo" src="https://cdn-icons-png.flaticon.com/512/1179/1179868.png?w=740&t=st=1662859252~exp=1662859852~hmac=93bed2ec067c5ea3384f9738b5ea199883c55d9a242ce1533847e884669cdcae" alt="ShoppingCar" />
      </a>
  </div>
